body {
	background-color: #111;
	color: #fff;
	font-family: sans-serif;
}

.flexcontainer {
	display: -webkit-flex;
	display: flex;
}

.video-box {
	width: 99.5vh;
	height: 99.5vh;
}

.video {
	height: 100%;
	width: 100%;
}

.flexitem {
	-webkit-flex: 1;
    flex: 1;
    position: relative;
}

.header {
	text-align: center;
	margin: 3em 0;
}

.container {
	margin: 0 10%;
}

.header h1 {
	font-size: 2em;
}

.header h1 span {
	text-shadow: 
		-1px -1px 0px red,
         0px -1px 0px red,
         1px -1px 0px red,
        -1px  0px 0px red,
         1px  0px 0px red,
        -1px  1px 0px red,
         0px  1px 0px red,
         1px  1px 0px red;
     font-style: italic;
}

.header h3 .fa-forward {
	padding: 0 .2em;
}

.caption {
	height: 3em;
	border: 1px solid #000;
	background-color: #333;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.16),inset 1px 1px rgba(255,255,255,0.12);
	padding: 1em 1% 1em 0; 
}

.caption .fa-quote-left {
	width: 20%;
	text-align: center;
	color: #666;
}

.caption p {
	display: inline-block;
	float: right;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.timestamp, .credit {
	text-align: right;
	color: #666;
}

.credit a {
	color: #999;
}

.location-group {
	border: 1px solid #000;
	background-color: #333;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.16),inset 1px 1px rgba(255,255,255,0.12);
}

.location {
	padding: .5em 0;
	border-bottom: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.16);
}

.location .fa-map-marker {
	width: 20%;
	text-align: center;
	color: #666;
}

.location-text {
	display: inline-block;
	float: right;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

hr {
	padding: 0;
	margin: 0;
}

#myMap {
	position: relative;
	width: 98%;
	height: 270px;
	margin: 0;
	display: block;
}

.controls {
	width: 100%;
	text-align: center;
}

.buttons {
	display: inline-block;
	border: 1px solid #000;
	background-color: #333;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06);
}

button:focus {
	outline: none;
}

.next, .prev, .pause-play {
	float: left;
	color: #fff;
	padding: 1em 3em;
	box-shadow: 0 1px 0 rgba(255,255,255,0.16),inset 1px 1px rgba(255,255,255,0.12);
}

.prev, .pause-play {
	border-right: 1px solid #000;
}

.pause-play i {
	width: 19px;
}

.music-player {
/*	background-color: #222;
*/	height: 4em;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.music-player .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.music-box {
	display: inline-block;
	border: 1px solid #000;
	background-color: #333;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06);
}

.volume, .music-pause-play, .music-next, .music-data {
	float: left;
	height: 2.5em;
}

.volume, .music-pause-play, .music-next {
	width: 2.5em;
	text-align: center;
	/*border-right: 1px solid #000;
	box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06); */
}

.volume:hover, .music-pause-play:hover, .music-next:hover {
	background-color: #666;
}

.music-data {
	width: 25em;
}

.music-pause-play i, .music-next i, .music-text, .volume i {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.music-text-bg {
	float: left;
	width: 80%;
	height: 100%;
	border-right: 1px solid rgba(255,255,255,0.08);
	box-shadow: -1px 0px 0 #000 inset;
	background-size: 200% 100%;
	background-position: 100% 0;
	background-image: linear-gradient(to right, #666 50%, rgba(0,0,0,0) 50%);
}

.music-text {
	padding-left: 5%;
	text-align: left;
}

.title {
	font-size: .9em;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	padding-bottom: .25em;
}

.uploader {
	font-size: .7em;
}

.sc-logo {
	background-image: url('../img/soundcloud-white.png');
	width: 19%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline;
	float: right;
}

.sc-logo:hover {
	background-image: url('../img/soundcloud-orange.png');
}

























